@charset "ISO-8859-1";


@media only screen and (max-width: 1036px) {
	.header p {
		font-size : 25px
	}
	
	.main-wrapper {
		margin-top : 300px;
	}
	
	.nav {
		grid-template-rows : 1fr 1fr 1fr;
		grid-template-columns : auto;
	}
	
	#searchbar {
		grid-row : 3 / 4;
		grid-column : 1 / 2;
		justify-self : center;
		width : 100%;
	}
	
	#navbtns {
		grid-row : 2 / 3;
		grid-column : 1 / 2;
		justify-self : center;
		width : 100%;
		text-align : center;
	}
	
	.nav ul {
		grid-row : 1 / 2;
		grid-column : 1 / 2;
		justify-self : center;
		text-align : center;
	}
	
	
}

@media only screen and (max-width: 720px) {
	.content {
		grid-column : 1 / 4;
	}
	
	.header p {
		display : none;
	}
	
	#logoheader {
		grid-column : 1 / 4;
	}
	
	
}

@media only screen and (max-width: 387px) {
	
	
	#logoheader {
		justify-self : center;
		content:url("/ProgettoWorkX/Images/logo-phone.png"); 
	}
	
	.header-wrapper {
		grid-template-columns: 1fr;
    	grid-template-rows: 75px 1fr;
	}
	
	.main-wrapper {
		margin-top : 225px;
	}
	
	.nav li {
		width : 70px;
		font-size : 15px;
	}
}